{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Nauczka</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="/static/jquery/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" id="site_logo" href="/">Nauczka</a>
        </div>
        <div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Główna</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3 style="display: inline">Kursy Online</h3>
                <a href="/add_online_course">
                    <img id="add_online_course" src="/static/img/add.png" width="26" height="26"/>
                </a>
                <hr>
                <table class="table table-striped">
                    {% for course in courses %}
                        <tr>
                            <td class="online_course_name">{{forloop.counter}}. {{ course.name }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="col-md-4">
                <h3 style="display: inline">Książki</h3>
                <img src="/static/img/add.png" width="26" height="26"/>
                <hr>
                <table class="table table-striped">
                    <tr>
                        <td>1. Tdd with Python</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">
                <h3 style="display: inline">Artykuły</h3>
                <img src="/static/img/add.png" width="26" height="26"/>
                <hr>
                <table class="table table-striped">
                    <tr>
                        <td>1. Why Python rocks</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>