<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Nauczka</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="/static/jquery/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" id="site_logo" href="/">Nauczka</a>
        </div>
        <div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Główna</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
        {% block  main_content%}
        {% endblock %}
    </div>
</body>
</html>