{% extends 'base.html' %}

{% block main_content %}
    <div class="row">
        <div class="col-md-4">
            <h3 style="display: inline">Kursy Online</h3>
            <a href="/courses/add">
                <img id="add_online_course" src="/static/img/add.png" width="26" height="26"/>
            </a>
            <hr>
            <table class="table table-striped">
                {% for course in courses %}
                    <tr>
                        <td>{{forloop.counter}}. <a class="online_course_name" href="/courses/{{ course.id }}/">{{ course.name }}</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-md-4">
            <h3 style="display: inline">Książki</h3>
            <img src="/static/img/add.png" width="26" height="26"/>
            <hr>
            <table class="table table-striped">
                <tr>
                    <td>1. Tdd with Python</td>
                </tr>
            </table>
        </div>
        <div class="col-md-4">
            <h3 style="display: inline">Artykuły</h3>
            <img src="/static/img/add.png" width="26" height="26"/>
            <hr>
            <table class="table table-striped">
                <tr>
                    <td>1. Why Python rocks</td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}