<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Nauczka</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Nauczka</a>
        </div>
        <div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Główna</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>Kursy Online</h3>
                <hr>
                <table class="table table-striped">
                    <tr>
                        <td>1. Udacity - Android </td>
                    </tr>
                    <tr>
                        <td>2. Udex - HTML5 </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">
                <h3>Książki</h3>
                <hr>
                <table class="table table-striped">
                    <tr>
                        <td>1. Tdd with Python</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">
                <h3>Artykuły</h3>
                <hr>
                <table class="table table-striped">
                    <tr>
                        <td>1. Why Python rocks</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>